<a href="https://colab.research.google.com/github/codesbymoni07/codesbymoni07/blob/main/04_tugas_struktur_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Biodata Diri

* **Nama Lengkap:**
* **ID Telegram:**
* **Email:**

## Soal 1
**Mengolah Data dengan List dan Tuple**
Seorang guru memiliki daftar nilai siswa dalam bentuk list, seperti berikut:  
`nilai_siswa = [85, 90, 78, 92, 88, 76, 95, 89, 77, 84]`

#### **Tugas:**
1. **List:**
   - Hitung rata-rata nilai siswa.
   - Tentukan nilai tertinggi dan nilai terendah.
   - Urutkan nilai siswa dari yang terendah ke tertinggi.

2. **Tuple:**
   - Ubah list yang telah dibuat menjadi tuple.
   - Jelaskan mengapa tuple cocok untuk digunakan jika data tidak akan diubah.

#### **Output yang Diharapkan:**
```python
1. List:
   Rata-rata nilai: 85.4
   Nilai tertinggi: 95
   Nilai terendah: 76
   Daftar nilai terurut: [76, 77, 78, 84, 85, 88, 89, 90, 92, 95]

2. Tuple:
   Tuple nilai siswa: (85, 90, 78, 92, 88, 76, 95, 89, 77, 84)
   Nested list dan tuple: [[85, 90, 78, 92, 88, 76, 95, 89, 77, 84], (85, 90, 78, 92, 88, 76, 95, 89, 77, 84)]
```

---

In [ ]:
## JAWABAN NO 1

## Soal 2
**Mengelola Data dengan Dictionary**

Anda memiliki data inventaris barang di sebuah gudang dalam bentuk dictionary sebagai berikut:  
```python
inventaris = {
    "laptop": 10,
    "mouse": 25,
    "keyboard": 15,
    "monitor": 5,
    "printer": 8
}
```

#### **Tugas:**
1. Tambahkan item baru dengan nama "headset" dan jumlah 12.
2. Perbarui jumlah item "laptop" menjadi 12.
3. Hapus item "printer" dari inventaris.
4. Tampilkan dictionary terbaru.

#### **Output yang Diharapkan:**

```python
Inventaris Gudang:
{
    "laptop": 12,
    "mouse": 25,
    "keyboard": 15,
    "monitor": 5,
    "headset": 12
}
```

---

In [ ]:
## JAWABAN NO 2

## Soal 3
**Operasi Himpunan dengan Set**
Dua grup siswa mengikuti dua kegiatan ekstrakurikuler yang berbeda. Data siswa dalam bentuk set adalah sebagai berikut:  
```python
grup_olahraga = {"Andi", "Budi", "Citra", "Dewi", "Eka"}
grup_musik = {"Budi", "Citra", "Fajar", "Gina", "Hani"}
```

#### **Tugas:**
1. Tentukan siswa yang mengikuti kedua grup (irisan).
2. Tentukan siswa yang hanya mengikuti salah satu grup saja (selisih simetris).
3. Gabungkan seluruh siswa dari kedua grup.
4. Tambahkan nama siswa baru, "Ivan", ke dalam grup olahraga dan "Joko" ke grup musik.
5. Periksa apakah "Dewi" termasuk dalam grup musik.

#### **Output yang Diharapkan:**
- Hasil irisan.
- Hasil selisih simetris.
- Gabungan kedua grup.
- Grup olahraga dan grup musik setelah penambahan.
- Hasil pemeriksaan untuk "Dewi".

---

In [ ]:
## JAWABAN NO 3